@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shadows+Into+Light&display=swap');
@font-face {
    font-family: "Android";
    src: url('fontes/idroid.otf');
}

:root {
    --cor0: #FFEEF2;
    --cor0transparente: #ffeef267;
    --cor1: #280004;
    --cor1transparente: #28000466;
    --cor2: #A5C639;
    --cor2transparente: #a5c63970;
    --cor3: #233329;
    --cor3transparente: #2334294e;
    --cor4: #a5c639;
    --cor4transparente: #a5c6399b;
}

.titulo {
    font-family: 'Android', sans-serif;
    padding: 0.5% 0% 0.5% 1%;
    color: var(--cor1);
    font-size: 1.7em;
    text-decoration: underline;
    margin-top: 0px;
}

.subtitulo {
    font-family: 'Android', sans-serif;
    color: var(--cor1);
    background-color: var(--cor4transparente);
    padding: 0.5% 0% 0.5% 1%;
}

.rodape  {
    text-indent: 0px;
    display: block;
    width: 30%;
    text-align: center;
    margin: auto;
    font-size: 0.7em;
}

.strongFooter {
    color: white;
    font-weight: bolder;;
}

a.externo::after {
    content: '\1F517';
}

body {
    background-color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    position: relative;
}

section > h1 {
    font-size: large;
}

p {
    padding: 0% 1em 0% 1em;
    text-indent: 3em;
    text-align: justify;
    line-height: 2em;
}

header {
    background-image: linear-gradient(to top, var(--cor3), var(--cor4));
    color: white;
    margin: auto;
    padding-bottom: 1%;
    padding-top: 3em;
    margin-right: -0.55%;
    margin-left: -0.55%;
}

header > h1 {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin: 0px;
    text-shadow: 2px 2.5px rgba(0, 0, 0, 0.496);
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-indent: 0em;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
    width: 40%;
    font-size: 0.8em;
}

nav#navegacao > a {
    text-decoration: none;
    color: white;
    display: inline;
    font-size: 1em;
    padding: 0.5% 1% 0.5% 1%;
    height: 1em;
    transition-duration: 0.5s;
}

nav#navegacao > a:hover {
    border-width: 1%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.271);
    background-color: var(--cor1);
}

main {
    background-color: white;
    padding-bottom: 1em;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.412);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor2);
}

a:hover {
    text-decoration: underline;
}

picture {
    display: flex;
    justify-content: center;
}

picture#irinapicture {
    max-width: 100%;
    min-width: none;
}

img {
    display: flex;
    margin: auto;
    padding-top: 2%;
}

strong {
    font-weight: bolder;
    color: var(--cor1);
}


div#videobackground {
    background-image: linear-gradient(to top, var(--cor3), var(--cor4));
    border      : 5px;
    border-color: black;
    border-style: solid

}

div#bugdroidvideo {
    display: flex;
    justify-content: center;
    padding: 2em;
}

div#Caixa01aprendermais {
    background-color: white;
    padding: 1% 5% 0% 5%;
    border-radius: 10px;
}

div#headeraprendermais {
    background-color: var(--cor1);
    text-indent: 1em;
    padding-top: 1.5%;
    border: black;
    border-radius: 10px;
    color: white;
    height: 5%;
}

div#conteudoaprendermais {
    background-color: var(--cor4);
    border: black;
    padding: 1.5%;
    margin: auto;
    border-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

div#lista {
    padding: 10px;
}

div#lista > ul {
    columns: 2;

    list-style: inside;
    list-style-type: '\2714\00A0\00A0';
}

a#androidlink {
    color: var(--cor1); 
}

footer {
    font-size: 0.8em;
    background-color: #233329;
    color: white;
    padding: 0.25%;
    margin-left: -0.55%;
    margin-right: -0.55%;
    margin-top: 1%;
}

footer > p {
    text-align: center;
}